---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a href="https://www.lambda.ink" class="gpt-title">'\{Lambda\}' </a>
    <a href="https://www.lambda.ink" class="gpt-subtitle">Flash Chat</a>
  </div>
  <p mt-1 op-60>
    Based on
    <a href="https://ai.google.dev/gemini-api/docs?hl=zh-cn"> Gemini 1.5 Flash API.</a>
    <a href="https://github.com/StardustWhisper/gemini-pro-chat" class="font-bold">Source code</a>
  </p>
</header>
